@media (max-width: 600px) {
  #navbar {
    width: 600px;
    padding: 1rem 1rem;

    justify-content: space-around;
  }
  #showcase {
    background: #333 url("../images/cheesecake1.png") no-repeat center/ cover;
    width: 500px;
    height: 500px;
    padding: 0;
    display: flex;
    padding-left: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #showcase .showcase-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 600px;
    background-color: rgba(24, 21, 21, 0.4);
  }
  .logo {
    font-family: "Italianno", cursive;
    font-size: 2rem;
    color: pink;
  }
  #navbar ul {
    /* display: flex; */
    /* align-items: center; */
    list-style: none;
  }
  #middle {
    text-align: center;
    justify-content: center;
  }
  .footer-container {
    width: 600px;
  }
  .carousel-inner {
    width: 350px;
  }
  .orders {
    width: 350px;
  }
}
