@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0.75rem 0;
}

h1,
h2,
h3 {
  line-height: 1.2rem;
  font-weight: 300;
}

.container {
  margin: auto;
  max-width: 1100px;
  padding: 20px;
}

.accent-nav {
  color: pink;
  font-family: "Italianno", cursive;
  font-size: 65px;
}
.accent-nav {
  text-align: center;
  align-items: center;
  padding-top: 5px;
}

.accent {
  color: pink;
  font-family: "Italianno", cursive;
  font-size: 70px;
  z-index: 10;
  text-align: center;
}

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: #fff;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 1;
  padding: 0 30px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: pink 2px solid;
}

.navbar ul {
  display: flex;
}

#showcase {
  background: url("../images/cheesecake1.png") no-repeat center center/cover;
  height: 87.5vh;
  position: relative;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 20px;
}

#showcase .showcase-content h1 {
  font-size: 85px;
}

#showcase .showcase-content p {
  font-size: 50px;
  max-width: 600px;
  color: pink;
  font-family: "Italianno", cursive;
  margin: 20px 0 30px;
  z-index: 15;
}

.showcase-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.showcase * {
  z-index: 10;
}

#showcase-overlay * {
  z-index: 0;
}

/* About  */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  box-shadow: black 2px;
  align-items: center;
}

.grid .item {
  border: 1px #ccc solid;
  padding: 1.5rem;
  height: 400px;
  align-items: center;
  text-align: center;
}

.grid .item p {
  padding-top: 30px;
  font-family: "Noto Serif JP", serif;
  color: pink;
  background: #333;
  height: 100px;
  align-items: center;
  text-align: center;
}

.cake-img {
  width: 280px;
  height: 250px;
}

.cake-img:hover {
  opacity: 1;
  transform: translateY(50%);
  transform: scale(1.2);
  cursor: pointer;
}

.bio-content {
  font-family: "Noto Serif JP", serif;
  color: pink;
  background: #333;
  font-size: 20px;
  margin: auto;
  padding: 20px;
}

/* Pricing */
#cake-pricing {
  align-items: center;
  text-align: center;
  display: flex;
  font-family: "Noto Serif JP", serif;
}

.pricing {
  font-family: "Noto Serif JP", serif;
  padding-bottom: 30px;
}

.price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  background: #333;
  color: pink;
  padding-bottom: 20px;
}

.price h3 {
  padding-bottom: 20px;
}

.price-list {
  padding-top: 50px;
}

/* Carousel */
#middle {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 90px;
}

.slide-show {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: auto;
  margin: auto;
}

.carousel-item .img-fluid {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 50px;
}

.orders {
  position: relative;
  align-items: center;
  font-size: 30px;
  font-family: "Italianno", cursive;
  color: pink;
  background-color: #333;
  padding-top: 8px;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  align-items: center;
}

#main-footer2 {
  background: #333;
  color: #fff;
  text-align: center;
  align-items: center;
}

#contact p {
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

#contact a {
  font-size: 22px;
}

#contact a:hover {
  color: pink;
}

.fab {
  font-size: 30px;
  padding: 2px 5px;
  color: pink;
}

.fab:hover {
  color: #fff;
}

.footer-container {
  padding: 3px;
}

/* Basque */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  align-items: center;
  text-align: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #333;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  width: 50px;
  height: 80px;
}

.active,
.demo:hover {
  opacity: 1;
}

.cake-images {
  height: 500px;
  width: 500px;
  align-items: center;
}
